# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
venv/
env/
.env/
.venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# IDE settings
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Generated artifacts
artifacts/
*.png
*.csv
*.log
